<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Imprimir</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
	<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
		#scroll{
			position:absolute;
    	    border:1px solid;
    	    height:150px;
    	    width:315px;
    	    overflow-y:scroll;
    	    overflow-x:hidden;
    	}
		.vertical-alignment-helper {
			display:table;
			height: 100%;
			margin-left: 41%;
		  }
		  .vertical-align-center {
			/* To center vertically */
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		  }
	</style>
	<%- include("../partials/head") -%>
</head>

<body class=" light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()">
	<!-- SideBar -->

	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>
			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/medico.png" /><span class="user_adminname"> <span>&nbsp;&nbsp;</span> Jonr dfdf</span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="javascript:void(0);" data-target="#myModalCerrar" data-toggle="modal" ><i class="fa fa-power-off"></i> Salir</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">
				<!--\\\\\\\left_nav start \\\\\\-->
				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b> </a> </li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<div class="main-content">
						<div class="  col-xs-12 ">
					
							<div class="col-lg-12 block-web"> 
							<!-- Content page -->
							<div class="block-web">
									<div class="head">
										<div class="actions">
											<div class="btn-group">
												
												
											</div>
										</div>
										<div class="header">
											<div class="info blue_symbols "> <i class="fa fa-stack-overflow icon "></i>
											</div>
											<h2 class="content-header " > <span>&nbsp;&nbsp;&nbsp;</span>Orden de Examen </h2>
										</div>
									</div>
									
									<br>
									<br>
									<div class="block-web">
										<div class="col-md-14">
											<div class="row">
												<div class="col-sm-12">
													<div class="col-md-3 ">
														<label class="control-labe">Nombre del Paciente:</label><p><b></b></p>
														<input type="hidden" type="text" class="form-control" readonly value=""  />
													</div>
													<div class="col-md-3">
														<label class="control-labe">N° de Historial:</label><p><b></b></p>
														<input type="hidden" type="text" name="grupo" class="form-control" readonly value="" />
													</div>
													<div class="col-md-2">
														<label class="control-labe">C.I.:</label><p><b></b></p>
														<input type="hidden" type="text" name="titulo" class="form-control" value="" readonly  />
													</div>
													
													<div class="col-md-2">
														<label class="control-labe">Fecha:</label>
														<input type="text" class="form-control" readonly v-model="fecha"  />
													</div>
													<div class="col-md-2">
														<label class="control-labe">Hora:</label>
														<input type="text" class="form-control" readonly v-model="hora"  />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="">
											<div class="card row" style="width: 55rem;">
												<div class="col-md-14">									
													<div class="col-md-9">										
														<p>Fecha: {{lab_one.fecha}}</p>
														<p> Medico:  {{lab_one.nombre_doctor}}</p>
														<p> N° Historial: {{lab_one.historial}}</p>
														<p>Otros Examenes:</p>
														<p>{{lab_one.otros}}</p>
														
													</div>
													<div class="col-md-3"> 										
														<p for="">Hora: {{lab_one.hora}}</p>
													</div>
													<div class="col-md-12">
														<label for="">Examene diagnosticado</label>
														<ul v-for="list in lab_one.examen">
															<li>{{list.estudio}}: {{list.descripcion}}</li>
														</ul>
													</div>
															
												</div>
												
											</div>
										</div>
								</div>
							</div>
						



						</div>
					</div>	
				</div>	
	
			</div>
		
		</div>
		
	</div>	
    <!--====== Scripts -->
<script>
    function mayus(e) {
    e.value = e.value.toUpperCase();
    }
</script>
    
	<script src="/js/fecha.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   <!-- vue cdn -->
	<script src="/js/jquery-2.1.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common-script.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
	<script src="/plugins/data-tables/jquery.dataTables.js"></script>
	<script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/edit-table/edit-table.js"></script>
	<script>
		jQuery(document).ready(function () {
			EditableTable.init();
		});
	</script>
	<script src="/moment/moment.js"></script>
	<script src="/moment/locale/af.js"></script>
	<script src="/url/export.js"></script>
	<script src="/js/jPushMenu.js"></script>
    <script src="/js/side-chats.js"></script>
    <script src="/js/vue/receta.js"></script>
</body>

</html>